# Build results
[Bb]in/
[Oo]bj/
[Ll]og/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Rider
.idea/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
